# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
env/
venv/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Builds / logs
dist/
build/
*.log

# Local env & data secrets
.env
data/*.csv
keys/*.json
